@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-main: var(--font-schibsted-grotesk);

  /* Colours */
  --color-dark: #090506; /* TODO: convert to oklch */
  /* Supernova */
  --color-primary-50: #fefce8;
  --color-primary-100: #fffac2;
  --color-primary-200: #fff187;
  --color-primary-300: #ffe243;
  --color-primary-400: oklch(86.33% 0.1758 89.84);
  --color-primary-500: #efb403;
  --color-primary-600: #ce8b00;
  --color-primary-700: #a46204;
  --color-primary-800: #884c0b;
  --color-primary-900: #733e10;
  --color-primary-950: #432005;

  /* Bridal Heath */
  --color-bridal-50: oklch(97.73% 0.0102 81.8); /* #FBF7F0 */
  --color-bridal-100: #f6eede; /* #F9F3E6 */
  --color-bridal-200: #ecdabc;
  --color-bridal-300: #e0bf91;
  --color-bridal-400: #d39f64;
  --color-bridal-500: #c98746;
  --color-bridal-600: #bb713b;
  --color-bridal-700: oklch(53.55% 0.1025 50.31); /* #9c5a32 */
  --color-bridal-800: #7d482f;
  --color-bridal-900: #663d28;
  --color-bridal-950: #361e14;

  /* Mountain Mist */
  --color-mountain-mist-50: #f5f5f6;
  --color-mountain-mist-100: #e6e6e7;
  --color-mountain-mist-200: #d0d0d1;
  --color-mountain-mist-300: #aeafb2;
  --color-mountain-mist-400: #949598;
  --color-mountain-mist-500: #6b6d6f;
  --color-mountain-mist-600: #5b5c5f;
  --color-mountain-mist-800: #444546;
  --color-mountain-mist-950: #252527;
  /* Gray */
  --color-gray-500: #6b6d6f;

  --color-tangerine: #ff9567;

  --animate-loop-scroll: loop-scroll 50s linear infinite;

  @keyframes loop-scroll {
    to {
      transform: translateX(-100%);
    }
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility paused {
  animation-play-state: paused;
}

:root {
  --background: #ffffff;
  --foreground: #090506;
}

html.dark {
  --background: #090506; /* Dark background */
  --foreground: #ffffff; /* Dark foreground */
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
}
